/* menu_burger.css - выпадающее меню */
.burger {
    display: none;
    background: none;
    border: none;
    padding: 0.4em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

.burger__icon {
    display: block;
    width: 2em;
    height: 2em;
    fill: #777;
}

@media ( max-width: 768px ) {
    .burger {
        display: inline-block;
    }
}