/* RESET */
@import url('./header.css');
@import url('./menu_left.css');
@import url('./menu_burger.css');
@import url('./farms.css');
@import url('./products.css');
@import url('./cart.css');
@import url('./contact.css');
@import url('./home.css');
@import url('./ui.css');
@import url('./footer.css');
* { margin: 0; padding: 0; box-sizing: border-box; }

/* ===== MAIN STYLES ===== */

html { background: #fff; }

a { text-decoration: none; }

body { 
    max-width: 100em;
    height: 100vh;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 
        clamp( 2.5em, 6vh, 4em)
        1fr 
        clamp( 2em, 5vh, 3em);

    grid-template-areas:
    'header  header'
    'menu    content'
    'footer  footer';

    font-family: 'Courier New', monospace;
    background-image: url('../img/body-bg.svg');
    background-size: 0.7em 0.7em;
    border: solid 0.5em #71b07fab;
    box-shadow:  0 0 2em #71b07fab inset;
    border-radius: 0.5em;

    /* у страницы скрола нет */
    /* overflow: hidden; */
}

.content {
    grid-area: content;

    overflow-y: auto; /* прокрутка по "у" для контента */
    
    padding: 1em;
    box-shadow:  0 0 2em #71b07fab inset;
    border-radius: 1em;
}

footer {
    grid-area: footer;

    text-align: center;
}

/* контейнер контента */
#content {
    transition: opacity 0.5s ease;
}

/* состояние исчезает */
#content.is-fade {
    opacity: 0;
}

/* уважуха) - отключение анимаций по системной настройке */
@media (prefers-reduced-motion: reduce) {
    #content { transition: none; }
}

@media ( max-width: 768px ) {
    body {
        grid-template-columns: 1fr;

        grid-template-rows: 
        auto
        /* auto */
        1fr
        auto;

        grid-template-areas: 
        "header"
        /* "menu" */
        "content"
        "footer";

        position: relative;
        overflow: visible;
        border: none;
    }

    .content {
        /* flex: 1; */
        /* position: relative; */
        /* z-index: 5; */

        padding: 0.1em;
        margin-top: 0.2em;
        border-radius: 0;
        /* overflow-y: hidden; */
    }
}