/* ui.css - общие стили */
.farms,
.products__grid,
.cart-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.farm,
.product-card,
.cart-item {
    flex: 0 0 calc((100% - 3em) / 3);
    padding: 0.5em;
    border: 0.1em solid #e0e0e0;
    border-radius: 0.5em;
    background: #9ec9a899;
    text-align: center;
    color: #444;

    /* cursor: pointer; */
}

.farm h4 { margin: 0.3em;}

.farm img,
.product-card img,
.cart-item img {
    display: block;
    width: 100%;
    /* height: auto; */
    aspect-ratio: 8 / 5; /* резерв места по у, для картинки */
    /* object-fit: cover; гарантирует что, нет прыжков, сетка ровная */
}

/* кнопки карточек продуктов и корзины */
/* .product-card__add, */
.cart-bar__clear,
.breadcrumbs__back {
    font-size: clamp(0.8em, 1.2vw, 1em);
    padding: 0.3em 0.4em;
    border-radius: 0.5em;
    border: 0.15em solid #e0e0e0;
    cursor: pointer;

    transition: background-color 0.5s ease, color 0.5s ease;
}
.product-card__add:hover,
.cart-bar__clear:hover,
.breadcrumbs__back:hover {
    background-color: #dcedc8;
}
.product-card__add:active,
.cart-bar__clear:active,
.breadcrumbs__back:active {
    background-color: #aed581;
}

/* иконка/кнопка корзины */
.product-card__add {
    display: inline-block;
    width: clamp(2em, 3vw, 3em);
    height: clamp(2em, 3vw, 3em);
    
    margin-top: 0.5em;
    padding: 0.3em;
    border: 0.15em solid #e0e0e0;
    border-radius: 0.5em;
    cursor: pointer;
}

/* кнопка авторизации */
.header__login-link {
    display: inline-flex;
    align-items: center;
}

.login-icon {
    display: block;
    width: 1.7em;
    height: 1.7em;
    fill: #777;
}

.organizer__list {
    margin: 3em 5em;
    list-style: decimal;
}

@media ( max-width: 768px ) {
    .farms {
        gap: 0.3em;
    }

    .farm {
        flex: 0 0 100%;
        padding: 0.3em;
        margin-top: 0.3em;
    }

    .products__grid,
    .cart-list {
        gap: 0.3em;
    }

    /* .farm, */
    .product-card,
    .cart-item {
        flex:  0 0 calc((100% - 0.3em) / 2);
        padding: 0.3em;
    }
}