/* RESET */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* ===== MAIN STYLES ===== */

body { 
    font-family: 'Courier New' monospace;
    /* font-size: 0.9em; */
}

header {
    width: 100%;
    text-align: center;
    padding: 0.5em;
    background: #f0f0f0;
    color: #424242;

    outline: solid 2px #ccc;
}

.report {
    width: min(70%, 70em);
    margin: 2em auto;
    padding: 1.5em;
    
    /* border: solid 0.1em #ccc; */
    border-radius: 0.5em;
}

.criteria__item {
    margin-bottom: 1em;
}

.criteria__item h3 {
    margin-bottom: 0.5em;
}

.criteria__item p {
    margin-bottom: 0.6em;
}
